.container {
  margin: 2rem;
  min-width: 30rem!important;
}

.container-metadata {
  input {
    width: 40rem;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  button {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}